# === Python ===
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.egg-info/
*.egg
dist/
build/
*.spec

# === IDE ===
.vscode/
.idea/
*.swp
*.swo
*~

# === Локальные файлы (не пушить) ===
_make_icon.py
_make_banner.py

# === APPS ===
settings.json
downloader.log
Steam_Manuals/

# === OS ===
.DS_Store
Thumbs.db
desktop.ini