# === Python ===
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.egg-info/
*.egg
dist/
build/
*.spec

# === IDE ===
.vscode/
.idea/
*.swp
*.swo
*~

# === Локальные файлы (не пушить) ===
GIT_GUIDE.docx
GIT_GUIDE.pdf
GIT_GUIDE.md
_readme_source.py
_make_icon.py
_make_git_guide.py
_make_banner.py
_make_bannerRU.py
steam_guide_banner.png
steam_guide_bannerRU.png


# === APPS ===
settings.json
downloader.log
Steam_Manuals/

# === OS ===
.DS_Store
Thumbs.db
desktop.ini